<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnitInputFile" value="ConquestUnitInput.csv"/>
    <add key="UnitOptionFile" value="ConquestUnitOptions.csv"/>
    <add key="CharacterInputFile" value="ConquestCharactersInput.csv"/>
    <add key="CharacterOptionFile" value="ConquestCharacterOptions.csv"/>
    <add key="NameFile" value="ConquestNames.csv" />
    <add key="AnalysisFile" value ="ConquestAnalysis.csv" />
    <add key="CharacterAnalysisFile" value ="CharacterConquestAnalysis.csv" />
  </appSettings>
</configuration>