<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnitInputFile" value="ConquestUnitInput.csv"/>
    <add key="UnitOptionFile" value="ConquestUnitOptions.csv"/>
    <add key="CharacterInputFile" value="ConquestCharactersInput.csv"/>
    <add key="CharacterOptionFile" value="ConquestCharacterOptions.csv"/>
    <add key="UserNameFile" value="ConquestUserNames.csv" />
    <add key="AnalysisFile" value ="ConquestAnalysis.csv" />
    <add key="CharacterAnalysisFile" value ="CharacterConquestAnalysis.csv" />
    <add key="SpellFile" value="ConquestSpells.csv"/>
    <add key="RetinueFile" value="ConquestRetinues.csv"/>
    <add key="MasteriesFile" value="ConquestMasteries.csv"/>
    <add key="ItemsFile" value="ConquestItems.csv"/>
  </appSettings>
</configuration>